In [2]:
import numpy as np
import pandas as pd

Как получить строки из series A, которые не содержатся в series B?

In [18]:
df1=pd.Series(['a', 'b', 'c'])
df2=pd.Series(['a', 'b1', 'c2'])

In [21]:
df1

0    a
1    b
2    c
dtype: object

In [22]:
df2

0     a
1    b1
2    c2
dtype: object

In [23]:
df1[df1.values != df2.values].values

array(['b', 'c'], dtype=object)

Как получить из series/dataframe минимум, 25й персентиль, медиану, 75тый персентиль, максимум?

In [27]:
s1=pd.Series(np.arange(10, 99))
s1.describe()

count    89.000000
mean     54.000000
std      25.836021
min      10.000000
25%      32.000000
50%      54.000000
75%      76.000000
max      98.000000
dtype: float64

Как получить частоту\долю для всех уникальных объектов в series?

In [31]:
df1=pd.Series(['a', 'b', 'c', 'g', 'v', 'a', 'a', 'a', 'u', 'a', 'b', 'c', 'c'])
df1.value_counts(normalize=True)

a    0.384615
c    0.230769
b    0.153846
g    0.076923
v    0.076923
u    0.076923
Name: proportion, dtype: float64

Как оставить только топ-2 самых часто встречающихся значений, а все остальные значения заменить на 'other'?

In [37]:
df1 = pd.Series(['a', 'b', 'c', 'g', 'v', 'a', 'a', 'a', 'u', 'a', 'b', 'c', 'c'])
df1 = df1.value_counts()
df1[2:] = 0
df1

a    5
c    3
b    0
g    0
v    0
u    0
Name: count, dtype: int64

Как разбить колонку с числовыми значениями на 10 групп одинакового размера?

In [41]:
s = pd.Series(np.random.random(20))

q = pd.qcut(s, 10)
gr = s.groupby(q)
gr.size()

/var/folders/64/5d1d86ts6r7_c93jjw7kgz_00000gn/T/ipykernel_4575/1295806163.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  gr = s.groupby(q)

(0.0108, 0.167]    2
(0.167, 0.231]     2
(0.231, 0.338]     2
(0.338, 0.369]     2
(0.369, 0.427]     2
(0.427, 0.429]     2
(0.429, 0.505]     2
(0.505, 0.673]     2
(0.673, 0.769]     2
(0.769, 0.961]     2
dtype: int64

Как найти позиции чисел, которые делятся на 3 без остатка из series?

In [46]:
s = pd.Series(range(2,25,2))
d3 = s[s.values % 3 == 0].index
d3

Index([2, 5, 8, 11], dtype='int64')

Как сделать stack двух series вертикально и горизонтально?

In [54]:
s1 = pd.Series(range(5))
s2 = pd.Series(list('abcde'))
s1.append(s2, ignore_index=True)

AttributeError: 'Series' object has no attribute 'append'

In [48]:
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [49]:
s2

0    a
1    b
2    c
3    d
4    e
dtype: object

 Как получить позиции строк из series A из другого series B?

In [65]:
s1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
s2 = pd.Series([1, 3, 10, 13])
s1.apply(lambda i: i if i in s2 else np.nan)

0    NaN
1    NaN
2    NaN
3    NaN
4    3.0
5    1.0
6    NaN
7    NaN
8    NaN
dtype: float64

In [55]:
# lambda в python
add = lambda x, y: x + y
add(3, 5)

8

In [62]:
# с функцией sorted
data = [(1, 3), (2, 1), (3, 2), (6, 4)]
sorted_data = sorted(data, key=lambda x: x[1])
sorted_data

[(2, 1), (3, 2), (1, 3), (6, 4)]

In [60]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
even_numbers

[2, 4, 6]

In [ ]:
# несколько аргументов
multiply = lambda x, y, z: x * y * z
multiply(2, 3, 4)

Как конвертировать каждый первый элемент строке в series в верхний регистр?

In [70]:
s = pd.Series(['how', 'to', 'kick', 'ass?'])
print(s)
s.apply(lambda word: word[0].upper() + word[1:])
# s.apply(lambda word: word.title())

0     how
1      to
2    kick
3    ass?
dtype: object

0     How
1      To
2    Kick
3    Ass?
dtype: object

Как изменить значения столбца при импорте csv в фрейм данных? Импортируйте датасет с помощью pd.read_csv, но колонку 'medv' (median house value) измените так, что если value < 25 = ‘Low’ и если > 25 = ‘High’.

In [75]:
df = pd.read_csv(
    'boston_house_prices.csv',
    converters={
        'MEDV':
            lambda x: 'Low' if float(x) < 25.0 else ('High' if float(x) > 25.0 else x)
    },
    header=1
)
df['MEDV'].value_counts()
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,Low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,Low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,High
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,High
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,Low
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,Low
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,Low
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,Low
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,Low

Как импортировать только указанные столбцы('crim' и 'medv') и только n строк из CSV-файла?

In [81]:
select_columns = ['CRIM', 'MEDV']
n = 100
df = pd.read_csv('boston_house_prices.csv', 
                 usecols = select_columns,
                 nrows = n,
                 header=1)
df

       CRIM  MEDV
0   0.00632  24.0
1   0.02731  21.6
2   0.02729  34.7
3   0.03237  33.4
4   0.06905  36.2
..      ...   ...
95  0.12204  28.4
96  0.11504  21.4
97  0.12083  38.7
98  0.08187  43.8
99  0.06860  33.2

[100 rows x 2 columns]

 Проверьте есть ли в датафрейме пропуски? Если да, посчитайте кол-во nan\none в каждом столбце датафрейма

In [85]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.isna().sum()
# df

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Как найти и заменить выбросы из столбца Series или датафрейма?

Замените все значения из столбца ниже 5того и больше 95го персентиля, на пограничные значения.

In [95]:
s = pd.Series(np.logspace(-2, 2, 30))
s_r = s.copy()
s

0       0.010000
1       0.013738
2       0.018874
3       0.025929
4       0.035622
5       0.048939
6       0.067234
7       0.092367
8       0.126896
9       0.174333
10      0.239503
11      0.329034
12      0.452035
13      0.621017
14      0.853168
15      1.172102
16      1.610262
17      2.212216
18      3.039195
19      4.175319
20      5.736153
21      7.880463
22     10.826367
23     14.873521
24     20.433597
25     28.072162
26     38.566204
27     52.983169
28     72.789538
29    100.000000
dtype: float64

In [91]:
s.quantile(.1)
s.quantile(.5)
s.quantile(.95)

np.float64(63.87667222018393)

In [96]:
s[s < s.quantile(.5)] = s.quantile(.5)
s[s < s.quantile(.95)] = s.quantile(.95)
s - s_r

0     63.866672
1     63.862934
2     63.857798
3     63.850743
4     63.841050
5     63.827733
6     63.809439
7     63.784305
8     63.749776
9     63.702339
10    63.637170
11    63.547638
12    63.424637
13    63.255655
14    63.023504
15    62.704570
16    62.266410
17    61.664456
18    60.837477
19    59.701353
20    58.140520
21    55.996209
22    53.050305
23    49.003151
24    43.443075
25    35.804510
26    25.310468
27    10.893503
28     0.000000
29     0.000000
dtype: float64

Как поменять местами две строки данных?

In [99]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [102]:
def chandeRow(frame, a: int, b: int) -> pd.DataFrame:
    boofer = frame.iloc[b].copy()
    frame.iloc[b] = frame.iloc[a]
    frame.iloc[a] = boofer
    return frame

chandeRow(df, 1, 4)

    0   1   2   3   4
0   0   1   2   3   4
1  20  21  22  23  24
2  10  11  12  13  14
3  15  16  17  18  19
4   5   6   7   8   9

# ДЗ

### Задача 1
У вас есть файл sales.csv, содержащий данные о продажах с колонками Дата, Продукт, Количество и Цена. Загрузите данные, почистите пропуски, посчитайте общую выручку и выведите данные только по продукту "Телефон".

### Задача 2
2.1 Как объединить два датафрейма по двум столбцам, чтобы в них остались только общие строки?
Сделать merge двух датафреймов по колонкам ['fruit', 'weight'] и ['pazham', 'kilo'].
2.2 Как удалить строки из датафрейма А, которые присутствуют в датафрейме B?

In [143]:
# 2.1
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

# 2.2
df1 = pd.DataFrame({'fruit': ['apple', 'orange', 'banana'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.arange(9)})

df2 = pd.DataFrame({'fruit': ['apple', 'orange', 'pine'] * 2,
                    'weight': ['high', 'medium'] * 3,
                    'price': np.arange(6)})

In [132]:
products_df = pd.read_csv('products.csv')
sales_df = pd.read_csv('sales.csv')

### Задача 3
Каждые 30 минут получайте текущий курс валюты USD к EUR с публичного API и добавляйте данные в DataFrame с отметкой времени.

In [13]:
currency_df = pd.DataFrame(columns=['Время', 'USD/EUR'])
url = "https://api.exchangerate-api.com/v4/latest/USD"

### Задача 4
Используя API OpenWeatherMap, получите данные о погоде для города Москва. Извлеките температуру и влажность, затем сохраните их в DataFrame для дальнейшего анализа.

In [14]:
url = "http://api.openweathermap.org/data/2.5/weather"

### Задача 5
Отправьте запрос к API и обработайте ошибки (например, неверный API ключ или отсутсвие ответа от сервера). Если код ответа не 200, сделайте еще 3 попытки.

In [15]:
url = "http://api.openweathermap.org/data/2.5/weather"

### Задача 6
Как сделать stack двух series вертикально и горизонтально?